//- index.pug
extends layout.pug

block head
    title Stjärnholm Consulting 
    meta(name='description', content='')

block content
    h2.text-center.p-4.px-5.index-logo-animate(class="animate__animated animate__fadeIn") 
        img.text-center.index-logo(src="assets/img/logo/B4_no_bg.svg", alt="Stjärnholm Consulting")

    //- 
    div.text-center.py-5
        .d-flex.flex-wrap.justify-content-evenly
            div.areas-boxes.areas-boxes-animation1.bg-gradient(class="animate__animated")
                .features-icons-item.mx-auto.mb-1
                    i.far.fa-code.fa-6x.mx-auto.mt-5.mb-4.areas-icon
                    h3.areas-title.i18nelement(data-i18n='areas.it_and_websites.title')
                    p.lead.mx-3.i18nelement(data-i18n='areas.it_and_websites.subtitle')
            div.areas-boxes.areas-boxes-animation2.bg-gradient(class="animate__animated")
                .features-icons-item.mx-auto.mb-1
                    i.fas.fa-house-night.fa-6x.mx-auto.mt-5.mb-4.areas-icon
                    h3.areas-title.i18nelement(data-i18n='areas.smart_home.title')
                    p.lead.mx-3.i18nelement(data-i18n='areas.smart_home.subtitle')
            div.areas-boxes.areas-boxes-animation3.bg-gradient(class="animate__animated")
                .features-icons-item.mx-auto.mb-1
                    i.far.fa-atom.fa-6x.mx-auto.mt-5.mb-4.areas-icon
                    h3.areas-title.i18nelement(data-i18n='areas.physics.title')
                    p.lead.mx-3.i18nelement(data-i18n='areas.physics.subtitle')

    div.bg-white.text-dark.text-center.py-5
        h2.i18nelement(data-i18n='projects.title')


        #carouselExampleCaptions.carousel.carousel-dark.slide(data-bs-ride='carousel' data-bs-touch="false")
            .carousel-indicators
                button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Stjärnholm Equestrian')
                button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Stjärnholm Medical')
                button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Små Hopp')
            .carousel-inner
                .carousel-item.active
                    div(style="min-height: 300px")
                        img.d-block.mx-auto.px-4.py-5(src='assets/img/projects/stalls_icon.png' alt='Stjärnholm Equestrian' style="max-width:100%; height: auto;")
                        //- .carousel-caption.d-none.d-sm-block
                        .carousel-caption.d-block
                            h5 #[a.projects-title(href="https://stalls.se" target="_blank") Stjärnholm Equestrian]
                            p.i18nelement(data-i18n='projects.stalls.description')
                .carousel-item
                    div(style="min-height: 300px")
                        img.d-block.mx-auto.px-4.py-5(src='assets/img/projects/stjarnholmmedical_logo.jpg' alt='Stjärnholm Medical' style="max-width:100%; height: auto;")
                        //- .carousel-caption.d-none.d-sm-block
                        .carousel-caption.d-block
                            h5 #[a.projects-title(href="https://stjarnholmmedical.se" target="_blank") Stjärnholm Medical]
                            p.i18nelement(data-i18n='projects.smab.description')
                .carousel-item
                    div(style="min-height: 300px")
                        img.d-block.mx-auto.px-4.py-5(src='assets/img/projects/smahopp_logo.png' alt='Små Hopp' style="max-width:100%; height: auto;")
                        //- .carousel-caption.d-none.d-sm-block
                        .carousel-caption.d-block
                            h5 #[a.projects-title(href="https://smahopp.se" target="_blank") Små Hopp]
                            p.i18nelement(data-i18n='projects.smahopp.description')
                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next


    div.bg-dark.text-white.text-center.py-5
        h2.mb-2.i18nelement(data-i18n='contact.title')
        p.font-weight-light.mb-3 
            i.bi-envelope.m-auto.text-primary.pr-2
            a.contact-links.text-white(href='mailto:consulting@stjarnholm.com' style="text-decoration:none;") consulting@stjarnholm.com
            br
            i.bi-facebook.m-auto.text-primary.pr-2
            a.contact-links.text-white(href='https://fb.me/stjarnholmconsulting' style="text-decoration:none;") Stjärnholm Consulting
            


    

    