//- index.pug
extends layout.pug

block head
    title Stjärnholm Consulting 
    meta(name='description', content='')

block content
    h3.p-4(class="animate__animated animate__fadeInUp") Stjärnholm Consulting - Under construction

    

    