//- index.pug
extends layout.pug

block head
    title Stjärnholm Consulting 
    meta(name='description', content='')

block content
    h2.text-center.p-4.index-logo-animate(class="animate__animated animate__fadeIn") 
        img.text-center.index-logo(src="assets/img/logo/B4_no_bg.svg", alt="Stjärnholm Consulting")

    //- 

    div.d-flex.flex-wrap.justify-content-evenly.py-5
        div.areas-boxes.areas-boxes-animation1(class="animate__animated")
            | Hej 1
        div.areas-boxes.areas-boxes-animation2(class="animate__animated")
            | Hej 2
        div.areas-boxes.areas-boxes-animation3(class="animate__animated")
            | Hej 3

    div.bg-white.text-dark.text-center.py-5
        h2.i18nelement(data-i18n='projects.title')

    div.bg-dark.text-white.text-center.py-5
        h2.i18nelement(data-i18n='contact.title')


    

    