// 
// Colors
// 

// Use this file to override Bootstrap color defaults

// Uncomment and build to see example
// $primary: #ff7af6;
$background: "dark";
$dark: #25225d;
$gradient: linear-gradient(180deg, rgba(0,0,0, .3), rgba(0,0,0, 0));
